.About{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
   
}
.about-left{
    flex-basis: 40%;
    position: relative;
}
.about-right{
    flex-basis: 56%;
}
.About-img{
    width: 100%;
    border-radius: 20px;
   
}
.Play-icon{
  width: 60PX;
  position: absolute;
 top: 50%;
 left: 50%;  
 transform: translate(-50%,-50%);
}
.About h3{
    font-weight: 600;
    font-size: 16px;
    color: #212EA0;

}
.About h2{
    font-size: 35px;
    color: #000F38;
    margin: 10px 0;
    max-width: 400px;

}
.About p{
    color: #676767;
    margin-bottom: 15px;
}
/* -------mediaquery------- */
@media(max-width:650px){
    .About{
        flex-direction: column;   
    }
    .about-right{
       flex-basis: 100%;  
    }
    .about-right  h2{
        font-size: 30px;
      
    }

    .about-left{
       flex-basis:100%;
       margin: 10px;
       order: 2;
        
    }
}
@media(max-width:800px){
        .about-right{
       flex-basis: 45%;  
    }
    .about-right  h2{
        font-size:20px;
    
    }
    .about-right  p{
    font-size: small;
    line-height: 1.1;
    }

    .about-left{
       flex-basis:100%;
       margin: 5px;
       flex-basis: 50%;  
        
    }
}